<% layout('layouts/boilerplate')%>

<div class="collapse navbar-collapse search " id="expandme">
  <div class="navbar-nav navbar navbar-expand-sm">
    <form  id="search-books">
     <label  for="search"></label>
        <input class="input1 " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Book..." title="Type in a name">
     <button class="input" name="reset" type="reset">Reset</button>
    </form>
  </div>
</div>
<% for (let campground of campgrounds){%>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <% if (campground.images.length) { %>
        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= campground.images[0].url %>">
    <% } else { %>
        <img crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/dxq0jh0xv/image/upload/v1681976385/YelpCamp/npqdesoluk1ktcirpodm.avif">
    <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= campground.location%></small>
        </p>
        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>"
          >View <%=campground.title%></a
        >
      </div>
    </div>
  </div>
</div>
<% }%>
<script>
  const campgrounds = {features: <%-JSON.stringify(campgrounds) %>}
</script>
<script src="/javascripts/clusterMap.js"></script>
